/* FONDOS */

.cerezo {
	background-image: url("../images/cerezoJapones.jpg");
	height: 100vh;
}

.romero {
	background-image: url("../images/romero.jpg");
	height: 100vh;
}

.skyline {
	background-image: url("../images/skyline.png");
	height: 100vh;
}

.bubbles {
	background-image: url("../images/bubbles.png");
	height: 100vh;
}
