$fuente-principal: "Montserrat", sans-serif;
$titulo-sombra: 2px 4px white;
$xxl: 50px;
$logo-color-mobile: rgb(244, 127, 255);
$footer-color-mobile: pink;
$bk-grad-noticia: linear-gradient(to bottom, red, white);
$padding-mobile: 0 5% 0;
